.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.field-container {
  background-color: #efefef;
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
